<%= form_with model: staff, local: true, class: 'my-3' do |form| %>
  <%= render partial: 'error_explanation', locals: { model: staff } %>

  <div class="form-group">
    <%= form.label :person_id %>
    <%= form.text_field :person_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :phone %>
    <%= form.text_field :phone, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :start_date %>
    <div class="form-row">
      <%# Trick: https://stackoverflow.com/a/28821449/5958455 %>
      <div class="col col-4">
        <%= form.date_select :start_date, { date_separator: '</div><div class="col col-4">' }, { class: 'form-control' } %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="form-check">
      <%= form.check_box :manager, class: 'form-check-input' %>
      <%= form.label :manager, class: 'form-check-label' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :branch_id %>
    <%= form.select :branch_id, options_from_collection_for_select(Branch.all, :id, :name, staff.branch_id), {}, { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= form.label :department_id %>
    <%= form.select :department_id, options_from_collection_for_select(Department.all, :id, :name, staff.department_id), {}, { class: 'form-control' } %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
