<% content_for :heading do %>
  <h1>员工 <%= @staff.name %></h1>
<% end %>

<% content_for :body do %>
  <dl class="row my-0">
    <dt class="col col-12 col-md-2">姓名</dt>
    <dd class="col col-12 col-md-10"><%= @staff.name %></dd>
    <dt class="col col-12 col-md-2">身份证号</dt>
    <dd class="col col-12 col-md-10"><%= @staff.person_id %></dd>
    <dt class="col col-12 col-md-2">电话</dt>
    <dd class="col col-12 col-md-10"><%= @staff.phone %></dd>
    <dt class="col col-12 col-md-2">地址</dt>
    <dd class="col col-12 col-md-10"><%= @staff.address %></dd>
    <dt class="col col-12 col-md-2">开始工作日期</dt>
    <dd class="col col-12 col-md-10"><%= @staff.start_date %></dd>
    <dt class="col col-12 col-md-2">经理</dt>
    <dd class="col col-12 col-md-10"><%= boolean_s @staff.manager %></dd>
    <dt class="col col-12 col-md-2">支行</dt>
    <dd class="col col-12 col-md-10"><%= link_to @staff.branch_name, branch_path(@staff.branch_id) %></dd>
    <dt class="col col-12 col-md-2">部门</dt>
    <dd class="col col-12 col-md-10"><%= link_to @staff.department_name, department_path(@staff.department_id) %></dd>
  </dl>
<% end %>

<% content_for :footer do %>
  <%= link_to raw(t'actions.edit'), edit_staff_path(@staff), class: 'btn btn-primary' %>
  <%= link_to raw(t'actions.back'), staffs_path, class: 'btn btn-secondary' %>
  <%= link_to raw(t'actions.destroy'), @staff, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
<% end %>

<%= render template: 'layouts/card' %>
