<%= form_with model: branch, local: true, class: 'my-3' do |form| %>
  <%= render partial: 'error_explanation', locals: { model: branch } %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :city %>
    <%= form.text_field :city, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :assets %>
    <%= form.number_field :assets, step: 0.01, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
