<%= form_with(model: branch, local: true) do |form| %>
  <% if branch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(branch.errors.count, "error") %> prohibited this branch from being saved:</h2>

      <ul>
        <% branch.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% %i{name city}.each do |field| %>
    <div class="form-group">
      <%= form.label field, "#{field.capitalize}" %>
      <%= form.text_field field, class: 'form-control' %>
    </div>
  <% end %>

  <% %i{assets}.each do |field| %>
    <div class="form-group">
      <%= form.label field, "#{field.capitalize}" %>
      <%= form.number_field field, class: 'form-control' %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
