<h1>支行</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>支行名称</th>
      <th>城市</th>
      <th>资产</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @branches.each do |branch| %>
      <tr>
        <td><%= link_to branch.name, branch %></td>
        <td><%= branch.city %></td>
        <td><%= branch.assets %></td>
        <td>
          <%= link_to '查看', branch, class: 'btn btn-primary' %>
          <%= link_to '编辑', edit_branch_path(branch), class: 'btn btn-secondary' %>
          <%= link_to '删除', branch, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新建支行', new_branch_path, class: 'btn btn-success' %>
