<p>
  <strong>Name:</strong>
  <%= @branch.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @branch.city %>
</p>

<p>
  <strong>Assets:</strong>
  <%= @branch.assets %>
</p>

<%= link_to 'Edit', edit_branch_path(@branch), class: 'btn btn-primary' %>
<%= link_to 'Back', branches_path, class: 'btn btn-secondary' %>
<%= link_to 'Destroy', @branch, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
