<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @branch.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @branch.city %>
</p>

<p>
  <strong>Assets:</strong>
  <%= @branch.assets %>
</p>

<%= link_to 'Edit', edit_branch_path(@branch) %> |
<%= link_to 'Back', branches_path %>
