<% content_for :heading do %>
  <h1 class="mb-0"><%= title "支行 #{@branch.name}" %></h1>
<% end %>

<% content_for :body do %>
  <dl class="row my-0">
    <dt class="col col-12 col-md-2">名称</dt>
    <dd class="col col-12 col-md-10"><%= @branch.name %></dd>
    <dt class="col col-12 col-md-2">城市</dt>
    <dd class="col col-12 col-md-10"><%= @branch.city %></dd>
    <dt class="col col-12 col-md-2">资产</dt>
    <dd class="col col-12 col-md-10"><%= @branch.assets %></dd>
    <dt class="col col-12 col-md-2">员工</dt>
    <dd class="col col-12 col-md-10">
      <% @staffs.limit(3).each_with_index do |staff, index| %>
        <%= raw('<br />') unless index.zero? %>
        <%= link_to staff.name, staff %>
      <% end %>
      <% if @staffs.count > 3 %>
        <br />
        &hellip;
        <br />
        共 <%= @staffs.count %> 个，<%= link_to '查看全部', branch_staffs_path(@branch) %>
      <% end %>
    </dd>
  </dl>
<% end %>

<% content_for :footer do %>
  <%= link_to raw(t'actions.edit'), edit_branch_path(@branch), class: 'btn btn-primary' %>
  <%= link_to raw(t'actions.back'), branches_path, class: 'btn btn-secondary' %>
  <%= link_to raw(t'actions.destroy'), @branch, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
<% end %>

<%= render template: 'layouts/card.html' %>
