<% content_for :heading do %>
  <h1 class="mb-0"><%= title "支行 #{@branch.name}" %></h1>
<% end %>

<% content_for :body do %>
  <dl class="row my-0">
    <dt class="col col-12 col-md-2">名称</dt>
    <dd class="col col-12 col-md-10"><%= @branch.name %></dd>
    <dt class="col col-12 col-md-2">城市</dt>
    <dd class="col col-12 col-md-10"><%= @branch.city %></dd>
    <dt class="col col-12 col-md-2">资产</dt>
    <dd class="col col-12 col-md-10"><%= @branch.assets %></dd>
    <dt class="col col-12 col-md-2">员工</dt>
    <dd class="col col-12 col-md-10">
      <%= list_items @staffs, view_all: branch_staffs_path(@branch) %>
    </dd>
    <dt class="col col-12 col-md-2">账户</dt>
    <dd class="col col-12 col-md-10">
      <%= list_items @accounts, name_field: :id, separator: ',', view_all: branch_accounts_path(@branch) %>
    </dd>
    <dt class="col col-12 col-md-2">贷款</dt>
    <dd class="col col-12 col-md-10">
      <%= list_items @loans, name_field: :id, separator: ',', view_all: branch_loans_path(@branch) %>
    </dd>
  </dl>
<% end %>

<% content_for :footer do %>
  <%= link_to raw(t'actions.edit'), edit_branch_path(@branch), class: 'btn btn-primary' %>
  <%= link_to raw(t'actions.back'), branches_path, class: 'btn btn-secondary' %>
  <%= link_to raw(t'actions.destroy'), @branch, method: :delete, class: 'btn btn-danger', data: { confirm: t('confirm') } %>
<% end %>

<%= render template: 'layouts/card.html' %>
