<%= form_with model: client, local: true  do |f| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
        <% client.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% fields.each do |field| %>
    <div class="form-group">
      <%= f.label field, "#{field.capitalize}" %>
      <%= f.text_field field, class: 'form-control' %>
    </div>
  <% end %>

  <%# Select manager %>
  <div class="form-group">
    <%= f.label :manager %>
    <%= f.select :manager_id, options_for_select(Staff.all.map do |staff| %>
      <% [staff.name, staff.id] %>
    <% end), class: 'form-control' %>
  </div>

  <%= f.fields_for :contact do |c| %>
    <% contact_fields.each do |field| %>
      <div class="form-group">
        <%= c.label field, "Contact #{field.capitalize}" %>
        <%= c.text_field field, class: 'form-control' %>
      </div>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
