<%= form_with model: client, local: true, class: 'my-3' do |f| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
        <% client.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% fields_with_name.each do |field, name| %>
    <div class="form-group">
      <%= f.label field, name %>
      <%= f.text_field field, class: 'form-control' %>
    </div>
  <% end %>

  <%# Select manager %>
  <div class="form-group">
    <%= f.label :manager_id, '负责人' %>
    <%= f.select :manager_id, options_from_collection_for_select(Staff.all, :id, :name), {}, {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :manager_type, '负责人类型' %>
    <%= f.select :manager_type, manager_types_with_name, {}, {class: 'form-control'} %>
  </div>

  <%= f.fields_for :contact do |c| %>
    <% contact_fields_with_name.each do |field, name| %>
      <div class="form-group">
        <%= c.label field, name %>
        <%= c.text_field field, class: 'form-control' %>
      </div>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
