<% content_for :heading do %>
  <h1 class="mb-0">客户 <%= @client.name %> 的关联账户</h1>
<% end %>

<% content_for :body do %>
  <table class="table table-hover mb-0">
    <thead>
      <tr>
        <th>账户号</th>
        <th>账户类型</th>
        <th>支行</th>
        <th>操作</th>
      </tr>
    </thead>

    <tbody>
      <% @accounts.each do |account| %>
        <tr>
          <td><%= account.account_id %></td>
          <td><%= account_type_name account.accountable_type %></td>
          <td><%= link_to account.branch_name, branch_path(account.branch_id) %></td>
          <td>
            <%= link_to raw(t'actions.view'), account_path(account.account_id), class: 'btn btn-outline-primary' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% content_for :footer do %>
  <%= link_to raw(t'actions.back'), @client, class: 'btn btn-secondary' %>
<% end %>

<%= render template: 'layouts/listing' %>
