<% content_for :heading do %>
  <h1 class="mb-0">客户</h1>
<% end %>

<% content_for :body do %>
  <table class="table table-hover mb-0">
    <thead>
      <tr>
        <% fields_with_name.zip(["", "d-none d-xl-table-cell", "d-none d-lg-table-cell", "d-none"]).each do |(field, name), classes| %>
          <th class="<%= classes %>"><%= name %></th>
        <% end %>
        <th>负责人</th>
        <th class="d-none d-md-table-cell">负责人类型</th>
        <th>联系人</th>
        <th>操作</th>
      </tr>
    </thead>

    <tbody id="search-content">
      <% @clients.each do |client| %>
        <tr>
          <% fields_with_name.zip(["", "d-none d-xl-table-cell", "d-none d-lg-table-cell", "d-none"]).each do |(field, name), classes| %>
            <td class="<%= classes %>"><%= client[field] %></td>
          <% end %>
          <td><%= link_to client.manager_name, staff_path(client.manager_id) %></td>
          <td class="d-none d-md-table-cell"><%= manager_type_name_short client.manager_type %></td>
          <td><%= link_to client.contact_name, contact_path(client) %></td>
          <td>
            <%= link_to raw(t'actions.view'), client, class: 'btn btn-outline-primary' %>
            <%= link_to raw(t'actions.edit'), edit_client_path(client), class: 'btn btn-outline-secondary' %>
            <%= link_to raw(t'actions.destroy'), client, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger d-none d-sm-inline-block' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% content_for :footer do %>
  <div>
    <%= link_to '新建客户', new_client_path, class: 'btn btn-success' %>
    <a class="btn btn-primary" href="#search-form" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="search-form"><%= raw(t'actions.search') %></a>
  </div>
  <%= render partial: 'quick_search' %>
<% end %>

<%= render template: 'layouts/listing' %>
