<h1>客户</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <% fields_with_name.zip(["", "d-none d-xl-table-cell", "d-none d-lg-table-cell", "d-none"]).each do |(field, name), classes| %>
        <th class="<%= classes %>"><%= name %></th>
      <% end %>
      <th>负责人</th>
      <th class="d-none d-md-table-cell">负责人类型</th>
      <th>联系人</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <% fields_with_name.zip(["", "d-none d-xl-table-cell", "d-none d-lg-table-cell", "d-none"]).each do |(field, name), classes| %>
          <td class="<%= classes %>"><%= client[field] %></td>
        <% end %>
        <td><%= link_to client.manager.name, client.manager %></td>
        <td class="d-none d-md-table-cell"><%= manager_type_name_short client.manager_type %></td>
        <td><%= link_to client.contact.name, client.contact %></td>
        <td>
          <%= link_to '查看', client, class: 'btn btn-primary' %>
          <%= link_to '编辑', edit_client_path(client), class: 'btn btn-secondary' %>
          <%= link_to '删除', client, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger d-none d-sm-inline-block' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '新建客户', new_client_path, class: 'btn btn-success' %>
