<h1>部门</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>编号</th>
      <th>名称</th>
      <th>类型</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= link_to department.id, department %></td>
        <td><%= department.name %></td>
        <td><%= department.kind %></td>
        <td>
          <%= link_to raw(t'actions.view'), department, class: 'btn btn-primary' %>
          <%= link_to raw(t'actions.edit'), edit_department_path(department), class: 'btn btn-secondary' %>
          <%= link_to raw(t'actions.destroy'), department, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '新建部门', new_department_path, class: 'btn btn-success' %>
