<h1>查看部门</h1>

<dl class="row my-3">
  <dt class="col col-12 col-md-2">名称</dt>
  <dd class="col col-12 col-md-10"><%= @department.name %></dd>
  <dt class="col col-12 col-md-2">类型</dt>
  <dd class="col col-12 col-md-10"><%= @department.kind %></dd>
</dl>

<%= link_to '编辑', edit_department_path(@department), class: 'btn btn-primary' %>
<%= link_to '返回', departments_path, class: 'btn btn-secondary' %>
<%= link_to '删除', @department, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
