<h1 class="text-center py-5 display-4"><%= site_name %></h1>

<div class="row">
  <% [Branch, Department, Staff, Client, Account, Loan].each do |model| %>
    <div class="px-3 mb-4 mb-md-5 col col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card shadow text-center">
        <div class="card-header">
          <h4 class="my-0 fonr-weight-normal"><%= model.display_name %></h4>
        </div>
        <div class="card-body">
          <h3 class="card-title mb-3"><%= model.count %> 个<%= model.display_name %></h3>
          <%= link_to '查看', send(model.name.underscore.pluralize + '_url'), class: "btn btn-lg btn-block btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
