<%= form_with model: loan, local: true, class: 'my-3' do |form| %>
  <%= render partial: 'error_explanation', locals: { model: loan } %>

  <div class="form-group">
    <%= form.label :branch_id %>
    <%= form.select :branch_id, options_from_collection_for_select(Branch.all, :id, :name), {}, { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= form.label :amount %>
    <%= form.number_field :amount, step: 0.01, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :client_ids %>
    <%= form.select :client_ids, options_from_collection_for_select(Client.all, :id, :name), {}, { class: 'form-control', multiple: true } %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
