<h1>贷款 #<%= @loan.id %> 的发放记录</h1>

<div class="my-3">
  <p><strong>状态</strong>：<%= @loan.status_s %></p>
  <% unless @loan.issued? %>
    <p><strong>剩余</strong>：<%= @loan.remaining %></p>
  <% end %>
</div>

<% unless @loan.unissued? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>日期</th>
        <th>金额</th>
      </tr>
    </thead>

    <tbody>
      <% @loan.issues.order(date: :asc, id: :asc).each do |issue| %>
        <tr>
          <td><%= issue.date %></td>
          <td><%= issue.amount %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<div class="my-3">
  <%= link_to raw(t'actions.back'), @loan, class: 'btn btn-secondary' %>
</div>

<% unless @loan.issued? %>
  <%= form_with url: new_issue_path, local: true, class: 'my-3' do |form| %>
    <h3>发放贷款</h3>

    <% if @issue.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

        <ul>
          <% @issue.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.fields_for :issues, Issue.new do |f| %>
      <div class="form-group">
        <%= f.label :date, '发放日期' %>
        <div class="form-row">
          <div class="col col-4">
            <%= f.date_select :date, { date_separator: '</div><div class="col col-4">' }, { class: 'form-control' } %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :amount, '金额' %>
        <%= f.number_field :amount, step: 0.01, class: 'form-control' %>
      </div>
    <% end %>

    <div class="actions">
      <%= form.submit '添加支付', class: 'btn btn-success' %>
    </div>
  <% end %>
<% end %>
