<h1>贷款 #<%= @loan.id %> 的发放记录</h1>

<ul class="list-group my-3">
  <li class="list-group-item">
    <strong>状态</strong>:
    <%= render partial: 'status_icon', locals: { status: @loan.status } %>
    <%= @loan.status_s %>
  </li>
  <% unless @loan.issued? %>
    <li class="list-group-item">
      <strong>剩余</strong>:
      <%= @loan.remaining %>
    </li>
  <% end %>
</ul>

<% unless @loan.unissued? %>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>日期</th>
        <th>金额</th>
      </tr>
    </thead>

    <tbody>
      <% @loan.issues.order(date: :asc, id: :asc).each do |issue| %>
        <tr>
          <td><%= issue.date %></td>
          <td><%= issue.amount %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<div class="my-3">
  <%= link_to raw(t'actions.back'), @loan, class: 'btn btn-secondary' %>
</div>

<% unless @loan.issued? %>
  <%= form_with url: new_issue_path, local: true, class: 'my-3' do |form| %>
    <div class="card">
      <div class="card-header">
        <h3 class="my-0">发放贷款</h3>
      </div>

      <div class="card-body">
        <% if @issue.errors.any? %>
          <div id="error_explanation" class="alert alert-danger">
            <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

            <ul>
              <% @issue.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= form.fields_for :issues, Issue.new do |f| %>
          <div class="form-group">
            <%= f.label :date, '发放日期' %>
            <div class="form-row">
              <div class="col col-4">
                <%= f.date_select :date, { date_separator: '</div><div class="col col-4">' }, { class: 'form-control' } %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :amount, '金额' %>
            <%= f.number_field :amount, min: 0.0, max: @loan.remaining, step: 0.01, class: 'form-control' %>
          </div>
        <% end %>
      </div>

      <div class="card-footer">
        <%= form.submit '发放贷款', class: 'btn btn-success' %>
      </div>
    </div>
  <% end %>
<% end %>
