<% limit ||= 3 %>
<% name_field ||= :name %>
<% separator ||= false %>
<% view_all ||= root_path %>

<% if separator %>
  <% items.limit(limit).each_with_index do |item, index| %>
    <%= separator unless index.zero? %>
    <%= link_to item.send(name_field), item %>
  <% end %>
<% else %>
  <ul class="list-unstyled mb-0">
    <% items.limit(limit).each do |item| %>
      <li><%= link_to item.send(name_field), item %></li>
    <% end %>
  </ul>
<% end %>

<% if items.empty? %>
  无
<% elsif items.size > 3 %>
  <%= separator %>
  &hellip;
  <br />
  共 <%= items.size %> 个，<%= link_to '查看全部', view_all %>
<% end %>
