<% title '首页' %>

<h1 class="text-center py-4 py-md-5 display-4 d-md-flex justify-content-center">
  <span class="d-block d-md-inline pb-4 pb-md-0">
    <%= svg_tag 'bank-home.svg', class: 'svg-inline svg-xl' %>
  </span>
  <%= site_name %>
</h1>

<div class="row">
  <% @cards.each do |model, svg| %>
    <div class="px-3 mb-4 mb-md-5 col col-12 col-sm-6 col-md-4">
      <div class="card shadow text-center">
        <div class="card-header">
          <h4 class="my-0 fonr-weight-normal"><%= model.display_name %></h4>
        </div>
        <div class="card-body">
          <h3 class="card-title h2 mb-3">
            <%= svg_tag "#{svg}.svg", class: 'svg-inline compact' %>
            <%= model.count %> <%# 个 model.display_name %>
          </h3>
          <%= link_to '查看', send(model.name.underscore.pluralize + '_url'), class: "btn btn-lg btn-block btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
