<!DOCTYPE html>
<html>
  <head>
    <title>DB-2020</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css", integrity: "sha256-aAr2Zpq8MZ+YA/D6JtRD3xtrwpEz2IqOS+pWD/7XKIw=" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light shadow-sm">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav my-2 my-md-0">
        </ul>
      </div>
    </nav>
    <div class="initial-content col-md-offset-1 col-md-10">
      <%= yield %>
    </div>
    <footer class="footer">
      <div class="col-md-offset-1 col-md-10">
      </div>
    </footer>
  </body>
</html>
