<h1>账户</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>支行</th>
      <th>类型</th>
      <th>余额</th>
      <th class="d-none d-md-table-cell">开户日期</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= link_to account.branch.name, account.branch %></td>
        <td><%= account_type_name account.accountable_type %></td>
        <td><%= account.balance %></td>
        <td class="d-none d-md-table-cell"><%= l account.open_date %></td>
        <td>
          <%= link_to '查看', account, class: 'btn btn-primary' %>
          <%= link_to '编辑', edit_account_path(account), class: 'btn btn-secondary' %>
          <%= link_to '删除', account, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger d-none d-sm-inline-block' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '新建账户', new_account_path, class: 'btn btn-success' %>
