<h1>账户</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>编号</th>
      <th>支行</th>
      <th>类型</th>
      <th>余额</th>
      <th class="d-none d-md-table-cell">开户日期</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.id %></td>
        <td><%= link_to account.branch.name, account.branch %></td>
        <td><%= account_type_name account.accountable_type %></td>
        <td><%= account.balance %></td>
        <td class="d-none d-md-table-cell"><%= l account.open_date %></td>
        <td>
          <%= link_to raw(t'actions.view'), account, class: 'btn btn-primary' %>
          <%= link_to raw(t'actions.edit'), edit_account_path(account), class: 'btn btn-secondary' %>
          <%= link_to raw(t'actions.destroy'), account, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger d-none d-sm-inline-block' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '新建账户', new_account_path, class: 'btn btn-success' %>
