<% content_for :heading do %>
  <h1>账户 #<%= @account.id %></h1>
<% end %>

<% content_for :body do %>
  <dl class="row my-3">
    <dt class="col col-12 col-md-2">账户号</dt>
    <dd class="col col-12 col-md-10"><%= @account.id %></dd>
    <dt class="col col-12 col-md-2">支行</dt>
    <dd class="col col-12 col-md-10"><%= link_to @account.branch_name, branch_path(@account.branch_id) %></dd>
    <dt class="col col-12 col-md-2">客户</dt>
    <dd class="col col-12 col-md-10">
      <%= raw(@owners.map do |owner| %>
        <% link_to owner.client_name, clients_path(owner.client_id) %>
      <% end.join("<br />")) %>
      <% if @account.owners_count > 3 %>
        <br />
        &hellip;
        <br />
        共 <%= @account.owners_count %> 个，<%= link_to '查看全部', account_owners_path(@account) %>
      <% end %>
    </dd>
    <dt class="col col-12 col-md-2">账户类型</dt>
    <dd class="col col-12 col-md-10"><%= account_type_name @account.accountable_type %></dd>
    <dt class="col col-12 col-md-2">余额</dt>
    <dd class="col col-12 col-md-10"><%= @account.balance %></dd>
    <dt class="col col-12 col-md-2">开户日期</dt>
    <dd class="col col-12 col-md-10"><%= l @account.open_date %></dd>

    <%# Type-specific data %>
    <% case @account.accountable_type %>
    <% when 'DepositAccount' %>
      <dt class="col col-12 col-md-2">利率</dt>
      <dd class="col col-12 col-md-10"><%= @account.accountable.interest_rate %></dd>
      <dt class="col col-12 col-md-2">货币类型</dt>
      <dd class="col col-12 col-md-10"><%= @account.accountable.currency.upcase %></dd>
    <% when 'CheckAccount' %>
      <dt class="col col-12 col-md-2">透支额</dt>
      <dd class="col col-12 col-md-10"><%= @account.accountable.withdraw_amount %></dd>
    <% end %>
  </dl>
<% end %>

<% content_for :footer do %>
  <%= link_to raw('<i class="fa fab fa-user-friends"></i> 关联客户'), account_owners_path(@account), class: 'btn btn-success' %>
  <%= link_to raw(t'actions.edit'), edit_account_path(@account), class: 'btn btn-primary' %>
  <%= link_to raw(t'actions.back'), :back, class: 'btn btn-secondary' %>
  <%= link_to raw(t'actions.destroy'), @account, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
<% end %>

<%= render template: 'layouts/card' %>
